body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background-image: url(https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png);
  background-size: cover;
  color: rgba(255, 255, 255, 0.616);
}
.box {
  width: 300px;
  padding: 45px;
  position: absolute;
  top: 50%;
 left: 20%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.box:hover {
  width: 300px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  box-shadow: 1px 1px 15px 1px black;
  transition: 0.5s;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 35px;
}

.but {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(194, 23, 23);
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.5s;
}
.but:focus {
  width: 280px;
  border-color: red;
}
.button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(194, 23, 23);
  padding: 15px 40px;
  width: 200;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background: rgb(194, 23, 23);
}
